@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  background-color: #171717;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.inputSearch{
  color: white;
  border:none;
  border-bottom: 0.1vw solid white;
  outline: none;
  padding: 1vw;
  /* position: relative;
  left:45vw; */
  margin-bottom: 3vw;
}

.searchContainer{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.cryptoHead{
  color: white;
  font-size: 4vw;
  text-shadow:
    0 0 7px #fff,
    0 0 42px #e7eef5
  ;
}
